<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
  });
</script>
<script type="text/javascript" async src="path-to-mathjax/MathJax.js?config=TeX-AMS_CHTML"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
  <script type="text/javascript"
  src="/javascripts/util.js">
</script>

  </head>
  <body>
    <div class="top-header" >
      <button style="margin-left:5px" onclick="collapseNavBar()">
      <image src="https://mdbootstrap.com/img/svg/hamburger7.svg?color=BFE100%27"></span>
      </button>
    <a href="/">
      <img src="/images/util/logo-long.svg" height="50px" />
    </a>
      <input type="text" style="width:45%" id="search-bar">
      <button class="btn" style="padding:2px ">  <img src="/images/util/search-icon.svg" height="22px"></button>
    </div>
    <div class="backgroundtmp">
      <div class="row">
        <div class="col-sm-3 nav-col" id="nav-side">
          <div class= "nav-tab">
            <a href="/">Inicio</a>
          </div>
          <div class= "nav-tab">
            <a href="/articles">Articulos</a>
          </div>
          <div class= "nav-tab">
            <a href="/Ejemplos">Ejemplos</a>
          </div>
        </div>
        <div class="col-sm-9 content-col" id="content">
          <div class="content-tab">
            {{{body}}}
            {{#if tag_info}}
              
              <br/>
              <a class="tagTitle">Etiquetas</a>
            
              <div id="tags" class="tags"> 
                {{#each tag_info}}
                <a class="one-tag" href="/tags/{{this}}">"{{this}}"</a> 
                {{/ each}}
                </div>
                <br/>
            {{/ if}}
          </div>
        </div>
      </div>
      <footer class="container-fluid text-center">
      <p>Footer Text</p>
    </footer>
  </div>

  </body>
</html>
