
.backgroundtmp {
  background-color:  #F1F1F1
}

.tags {
  padding: 12px;
  padding-top:15px;
  margin-left: 5px;

  box-shadow: 0px 0px 1px #6F6F6F;
}
.tagTitle {
  position:relative;
  z-index: 100;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
  color: #000000;
  bottom: -5px;
  border: 1px solid gray;
  background-color:#F2F2F2;
  }
.one-tag {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 15px;
  background-color: #F2F2F2;
  border-radius: 105px;
  white-space: nowrap;

}

.top-header {
  background:#F9F9F9;
  border-bottom: 1px solid gray;
}
/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

.nav-tab {
  height: .7cm;
  padding-left: 0.2cm;
  margin-left: 10px;
  margin-top: 5px;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;

  background-color: #DEE3F3;
  
}
.tabuled-area {
  padding-left: 0.2cm;
  
  
}

.nav-col {
  margin-right:-15px 
  
  }

.content-col {

  background-color: white;
  border-left: 1px solid gray;
}
.content-tab {
  margin-left:0px;
  padding-right:  10px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .one-tag {
    display: inline-block;
  }
  .row.content {height:auto;} 
}
